nav {
    display: flex;
    justify-content: flex-end;
    height: 37px;
    border: 1px solid #F0EFEF;
}

.pagination {
    display: flex;
    list-style: none;
    height: inherit;
    margin: 0px;
    padding: 0px;
    align-items: center;
}

.pagination li {
    padding: 6px;
    display: inline-flex;
}

a {
    font-weight: bolder;
}